<%- model_class = Garden -%>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h3>Turn idle backyards into fresh fruits and veggies</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div id="garden_map" style="height: 580px; width: 300px"></div>
  </div>
  <div class="span8">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= pluralize @gardens.count, "garden" %></th>
        </tr>
      </thead>
      <tbody>
        <% @gardens.each do |garden| %>
        <tr>
          <td>
            <h3>
              <%= link_to garden.title, garden_path(garden) %>
            </h3>
            <p>
              <%= garden.created_at %>
            </p>
            <p>
              <%= garden.description %>
            </p>
            <p>
              <%= garden.address %>
            </p>
          </td>
          <td></td>
          <td>
            <%= button_to "Contact", new_garden_path,
                :class => "btn btn-mini pull-right", :method => :get %>
          </td>
          <td></td>
          <td>
           <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_garden_path(garden), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            garden_path(garden),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- span8 -->
</div>

<% content_for :scripts do %>

<% end %>
