<%- model_class = Garden -%>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h3>Turn idle backyards into fresh fruits and veggies</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= gmaps("map_options" => { "detect_location" => true,
                                 "center_on_user" => true,
                                 :auto_adjust => true, "zoom" => 6},
                                 "markers" => { "data" => @json }) %>
  </div>
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>20 gardens</th>
        </tr>
      </thead>
      <tbody>
        <% @gardens.each do |garden| %>
        <tr>
          <td><img src="http://placehold.it/160x120" alt=""></td>
          <td>
            <h3>
              <%= link_to garden.title, garden_path(garden) %>
            </h3>
            <p>
              <strong><%= garden.neighborhood %></strong>
            </p>
            <p>
              <%= garden.description %>
            </p>
            <p>
              <small><%= garden.created_at %></small>
            </p>

          </td>

          <td> </td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>


  </div> <!-- span8 -->

</div>
