<div class="row">
  <div class="span12">
    <h3><%= @garden.title %></h3>    
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>Date: <%= @garden.created_at %></p>
  </div>
</div>

<div class="row">
  <div class="span8">
      <p><%= @garden.description %></p>
      <p><%= @garden.user.first_name %></p>
      <p><%= @garden.user.email %></p>
      <p><%= @garden.neighborhood %></p>

  </div>
  <div class="span4">

    <img src="http://placehold.it/640x480" class="img-polaroid">


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              gardens_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_garden_path(@garden), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              garden_path(@garden),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
  </div>
</div>
