<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2><%= @garden.title %> <small> <%= @garden.neighborhood %></small></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h3>Description</h3>
    <p><%= @garden.description %></p>
    <h3>Photos</h3>
    <img src="http://placehold.it/300x300&text=photos+coming+soon!" class="img-polaroid">
  </div>
  <div class="span4">
    <div class="well">
      <h5></h5>
      <dl>
        <dt>Want to work on this garden?</dt>
        <dd>Send a message to <%= @garden.user.first_name %></dd> <br />
        <dt>Message</dt>
        <dd><textarea rows="3" placeholder="Ask about the availability of working on the garden"></textarea></dd>
      </dl>
      <%= button_to "Message", new_garden_path,
          :class => "btn disabled", :method => :get, :disabled => "disabled" %>
      <% if current_user %>
        <% if can? :update, @garden %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_garden_path(@garden), :class => 'btn' %>
        <% end %>
        <% if can? :destroy, @garden %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              garden_path(@garden),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
